@import "./antd//badge.scss";
@import "./swiper.scss";
@import "./antd/select.scss";
@import "./antd/input.scss";
@import "./antd/image.scss";
@import "./antd/tooltip.scss";
@import "./antd/menu.scss";
@import "./antd/datePicker.scss";
@import "./antd/button.scss";

.container-image:hover {
  border-radius: 100%;
  background: #efefef;
  transition: all 0.5s ease-in-out;
}
