.ant-layout {
  .ant-layout-sider {
    .ant-layout-sider-children {
      .ant-menu-light.ant-menu-root.ant-menu-inline {
        border-inline-end: none;
      }
    }
  }
}

.ant-layout-sider.ant-layout-sider-light.ant-layout-sider-has-trigger {
  flex: 0 0 30rem !important;
  max-width: 30rem !important;
  width: 30rem !important;
}

.ant-layout-sider.ant-layout-sider-light.ant-layout-sider-collapsed.ant-layout-sider-has-trigger {
  flex: 0 0 8rem !important;
  max-width: 8rem !important;
  width: 8rem !important;
}
