.ant-select {
  .ant-select-selector {
    min-height: 4.2rem;
  }

  .ant-select-arrow {
    margin-top: 0;
  }

  .ant-select-selection-item {
    color: black;
    font-weight: 500;
  }
}

.ant-select.ant-select-multiple {
  .ant-select-arrow {
    margin-top: -0.6rem;
  }
  .ant-select-selection-overflow-item {
    .ant-select-selection-item {
      color: black;
      font-weight: 500;
    }
  }
}
