.rdw-link-modal {
  .rdw-link-modal-input {
    background-color: white;
    color: black;
  }

  #openLinkInNewWindow {
    background-color: white;
    color: white;
  }
}

.rdw-embedded-modal {
  .rdw-embedded-modal-link-input,
  .rdw-embedded-modal-size-input {
    background-color: white;
    color: black;
  }
}

.rdw-image-modal {
  .rdw-image-modal-url-input,
  .rdw-image-modal-size-input {
    background-color: white;
    color: black;
  }
}
